.mapouter{
    position:relative;
    text-align:right;
    height:75%;
    width:100%;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:75%;
  width:100%;
  border-radius: 17px;
background: #005E7C;
box-shadow:  17px 17px 40px #003f53,
             -17px -17px 40px #007da5;
}

.Background-Conteudo {
  background: #005E7C;
}